# 数据链接

In [1]:
import pandas as pd
import numpy as np

df_obj1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                        'data1' : np.random.randint(0,10,7)})
df_obj2 = pd.DataFrame({'key': ['a', 'b' ,'d'],
                        'data2' : np.random.randint(0,10,3)})

print(df_obj1)
print('-'*50)
print(df_obj2)

  key  data1
0   b      8
1   b      1
2   a      2
3   c      1
4   a      2
5   a      0
6   b      7
--------------------------------------------------
  key  data2
0   a      1
1   b      9
2   d      6

In [2]:
#默认连接使用相同的列名，连接方式是内连接 只保存两个dataframe中都有的键
pd.merge(df_obj1, df_obj2)

  key  data1  data2
0   b      8      9
1   b      1      9
2   a      2      1
3   a      2      1
4   a      0      1
5   b      7      9

In [5]:
#左df和右df都拿索引连接
pd.merge(df_obj1, df_obj2,left_index=True,right_index=True)

MergeError: Must pass left_on or left_index=True

In [6]:
# df_obj1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
#                         'data1' : np.random.randint(0,10,7)})
# df_obj2 = pd.DataFrame({'key': ['a', 'b' ,'d'],
#                         'data2' : np.random.randint(0,10,3)})
pd.merge(df_obj1, df_obj2,on='key')

  key  data1  data2
0   b      8      9
1   b      1      9
2   a      2      1
3   a      2      1
4   a      0      1
5   b      7      9

In [10]:
print(df_obj1.rename(columns={'key': 'key1'}, inplace=True))
print(df_obj2.rename(columns={'key': 'key2'}, inplace=True))

None
None

In [11]:
#左表以key1来连接，右表以key2来连接
pd.merge(df_obj1, df_obj2, left_on='key1', right_on='key2')

  key1  data1 key2  data2
0    b      8    b      9
1    b      1    b      9
2    a      2    a      1
3    a      2    a      1
4    a      0    a      1
5    b      7    b      9

In [12]:
#全外连接
pd.merge(df_obj1, df_obj2, left_on='key1', right_on='key2', how='outer')  #全外连接 保留两个DataFrame中的所有键

  key1  data1 key2  data2
0    a    2.0    a    1.0
1    a    2.0    a    1.0
2    a    0.0    a    1.0
3    b    8.0    b    9.0
4    b    1.0    b    9.0
5    b    7.0    b    9.0
6    c    1.0  NaN    NaN
7  NaN    NaN    d    6.0

In [14]:
#left join 等价于 left  join
pd.merge(df_obj1, df_obj2, left_on='key1', right_on='key2', how='left')

  key1  data1 key2  data2
0    b      8    b      9
1    b      1    b      9
2    a      2    a      1
3    a      2    a      1
4    a      0    a      1
5    b      7    b      9

In [15]:
# right等价于数据库的right join
pd.merge(df_obj1, df_obj2, left_on='key1', right_on='key2', how='right')

  key1  data1 key2  data2
0    a    2.0    a      1
1    a    2.0    a      1
2    a    0.0    a      1
3    b    8.0    b      9
4    b    1.0    b      9
5    b    7.0    b      9
6  NaN    NaN    d      6

In [17]:
# 处理重复列名
df_obj1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                        'data' : np.random.randint(0,10,7)})
df_obj2 = pd.DataFrame({'key': ['a', 'b', 'd'],
                        'data' : np.random.randint(0,10,3)})
#给相同的数据列添加后缀
print(pd.merge(df_obj1, df_obj2, on='key', suffixes=('_left', '_right')))

  key  data_left  data_right
0   a        5.0           5
1   a        8.0           5
2   a        3.0           5
3   b        4.0           7
4   b        4.0           7
5   b        1.0           7
6   d        NaN           6

In [18]:
# 按索引连接
df_obj1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                        'data1' : np.random.randint(0,10,7)})
df_obj2 = pd.DataFrame({'data2' : np.random.randint(0,10,3)}, index=['a', 'b', 'd'])
print(df_obj1)
print(df_obj2)

  key  data1
0   b      2
1   b      7
2   a      0
3   c      9
4   a      0
5   a      6
6   b      2
   data2
a      3
b      5
d      3

In [19]:
print(pd.merge(df_obj1, df_obj2, left_on='key', right_index=True))

  key  data1  data2
0   b      2      5
1   b      7      5
2   a      0      3
4   a      0      3
5   a      6      3
6   b      2      5

   data2 key  data1
2      3   a      0
4      3   a      0
5      3   a      6
0      5   b      2
1      5   b      7
6      5   b      2