In [1]:
import pandas as pd

In [3]:
ser_obj = pd.Series(range(10, 20))
print(ser_obj)

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64

In [11]:
print(ser_obj.values)
print(type(ser_obj.values))
print(type(ser_obj.index))
print(ser_obj.index)

[10 11 12 13 14 15 16 17 18 19]
<class 'numpy.ndarray'>
<class 'pandas.core.indexes.range.RangeIndex'>
RangeIndex(start=0, stop=10, step=1)

In [18]:
print(ser_obj[0])
print(ser_obj.iloc[0])
print(ser_obj.loc[0])

10
10
10

In [20]:
print(ser_obj * 2)  #元素级乘法
print(ser_obj > 15)  #返回一个bool序列

0    20
1    22
2    24
3    26
4    28
5    30
6    32
7    34
8    36
9    38
dtype: int64
0    False
1    False
2    False
3    False
4    False
5    False
6     True
7     True
8     True
9     True
dtype: bool

In [29]:
year_data = {2001: 17.8, 2005: 20.1, 2003: 16.5}
ser_obj2 = pd.Series(year_data)
print(ser_obj2)
print('-' * 50)
print(ser_obj2.index)
print(ser_obj2.values)
print(ser_obj2.head())  # 显示前五行

2001    17.8
2005    20.1
2003    16.5
dtype: float64
--------------------------------------------------
Index([2001, 2005, 2003], dtype='int64')
[17.8 20.1 16.5]
2001    17.8
2005    20.1
2003    16.5
dtype: float64

# DataFrame

In [34]:
import numpy as np

t = pd.DataFrame(np.random.randn(20, 3), columns=['a', 'b', 'c'])
print(t)

           a         b         c
0  -1.231822  1.618921 -0.520227
1  -1.392361  0.568575  0.200198
2  -0.389304 -0.169189  0.596971
3   0.943042  0.768533 -0.705210
4   0.239174 -0.365110  0.286892
5  -0.130643 -0.906298  0.589689
6  -1.523058 -2.312680  0.367620
7  -0.957385 -0.228510  1.522920
8  -1.417578 -0.594321  0.333836
9  -1.476969 -0.674425  0.412664
10  1.247916 -0.236105 -2.086236
11 -0.320648 -0.533358  0.291071
12  0.789820  1.137897 -0.390825
13 -0.610568  1.036629 -0.199903
14  1.182718  0.653002 -1.809385
15 -0.666130 -0.295504  0.023167
16 -0.677161 -0.773385 -0.846223
17 -0.897609 -0.917817  1.371723
18  1.612900 -2.114772  0.273415
19  0.012060  0.615964  0.515224

In [40]:
t1 = pd.DataFrame(np.arange(12).reshape(3, 4), index=['a', 'b', 'c'], )
print(t1)
print(t1.columns)
print(t1.index)

   0  1   2   3
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11
RangeIndex(start=0, stop=4, step=1)
Index(['a', 'b', 'c'], dtype='object')

In [48]:
print(t1.loc['a'])
print(type(t1.loc['a']))

0    0
1    1
2    2
3    3
Name: a, dtype: int64
<class 'pandas.core.series.Series'>

In [64]:
# 列表套字典  变df
d2 = [{"name": "xiaohong", "age": 32, "tel": 10010},
      {"name": "xiaogang", "tel": 10000},
      {"name": "xiaowang", "age": 22}]
df6 = pd.DataFrame(d2, index=['a', 'b', 'c'])
print(df6)
print(df6.columns)
print('-' * 50)
print(df6.loc['a'])
print('-' * 50)
print(df6.iloc[0])

       name   age      tel
a  xiaohong  32.0  10010.0
b  xiaogang   NaN  10000.0
c  xiaowang  22.0      NaN
Index(['name', 'age', 'tel'], dtype='object')
--------------------------------------------------
name    xiaohong
age         32.0
tel      10010.0
Name: a, dtype: object
--------------------------------------------------
name    xiaohong
age         32.0
tel      10010.0
Name: a, dtype: object

In [66]:
pd.Series(1, index=list(range(3, 7)), dtype='float32')

3    1.0
4    1.0
5    1.0
6    1.0
dtype: float32

In [92]:
dict_data = {'A': 1,
             'B': pd.Timestamp('20190926'),
             'C': pd.Series(1, index=range(4), dtype='float32'),
             'D': np.array([1, 2, 3, 4], dtype='int32'),
             'E': ["Python", "Java", "C++", "C"],
             'F': 'wangdao'}
df7 = pd.DataFrame(dict_data)
print(df7)
print('-' * 100)
print(df7.loc[:, 'C'])

   A          B    C  D       E        F
0  1 2019-09-26  1.0  1  Python  wangdao
1  1 2019-09-26  1.0  2    Java  wangdao
2  1 2019-09-26  1.0  3     C++  wangdao
3  1 2019-09-26  1.0  4       C  wangdao
----------------------------------------------------------------------------------------------------
0    1.0
1    1.0
2    1.0
3    1.0
Name: C, dtype: float32

In [112]:
df7['G'] = df7['C'] + 1
print(df7.head())

   A          B    C  D       E        F    G
0  1 2019-09-26  1.0  1  Python  wangdao  2.0
1  1 2019-09-26  1.0  2    Java  wangdao  2.0
2  1 2019-09-26  1.0  3     C++  wangdao  2.0
3  1 2019-09-26  1.0  4       C  wangdao  2.0

In [96]:
print(df7.columns)
print(df7.index)
pd.Series(1, index=['A', 'C', 'D', 'E', 'F'], dtype='float32')

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')
RangeIndex(start=0, stop=4, step=1)

A    1.0
C    1.0
D    1.0
E    1.0
F    1.0
dtype: float32

In [109]:
dates = pd.date_range('20250426', periods=6)
print(dates)
print('-' * 100)
df8 = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
print(df8)

DatetimeIndex(['2025-04-26', '2025-04-27', '2025-04-28', '2025-04-29',
               '2025-04-30', '2025-05-01'],
              dtype='datetime64[ns]', freq='D')
----------------------------------------------------------------------------------------------------
                   A         B         C         D
2025-04-26  0.597028  0.143340 -0.123086 -0.428798
2025-04-27 -1.118758 -1.047642  1.069336 -1.239170
2025-04-28  1.469512  0.095977  0.592170 -1.071760
2025-04-29  1.515377  0.941275 -1.028131  0.170873
2025-04-30 -0.081538  0.819094 -1.628825 -0.440576
2025-05-01  0.652681  0.097836 -1.282003 -0.112802

In [116]:
# del df7['G']
print(df7.head())

   A          B    C  D       E        F
0  1 2019-09-26  1.0  1  Python  wangdao
1  1 2019-09-26  1.0  2    Java  wangdao
2  1 2019-09-26  1.0  3     C++  wangdao
3  1 2019-09-26  1.0  4       C  wangdao